@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: "aubrey";
}

h2 {
    font-family : "eb-garamond"
}

h3, p {
    font-family : "source-sans-pro"
}
/* Mettre ici les styles "globaux" */